/* ...
*= require_self
*= require spud/admin/jquery-ui
*= require spud/forms
*= require spud/login
*/
html {
	font-family: Helvetica, Arial;
	font-size:14px;
}
body {
	background:#eee;
	margin: 0 0;
}
a,a:visited {
	color:#0073EA;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
a:hover .ui-button-text {
	color:#fff;
}
#header {
	height:100px;
	background:rgb(199,90,0);
	background-image: linear-gradient(top, rgb(199,90,0) 5%, rgb(179,72,0) 53%);
	background-image: -o-linear-gradient(top, rgb(199,90,0) 5%, rgb(179,72,0) 53%);
	background-image: -moz-linear-gradient(top, rgb(199,90,0) 5%, rgb(179,72,0) 53%);
	background-image: -webkit-linear-gradient(top, rgb(199,90,0) 5%, rgb(179,72,0) 53%);
	background-image: -ms-linear-gradient(top, rgb(199,90,0) 5%, rgb(179,72,0) 53%);

	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.05, rgb(199,90,0)),
	color-stop(0.53, rgb(179,72,0))
	);

	border-bottom:1px solid rgb(180,72,0);
	color:#fff;
}
#header a,
#header a:visited {
	color:#eee;
	font-weight:normal;	
}
.clear { clear: both; }
.greeting {
	color:#ddd;
}

#header #user_meta {
	float:right;
	line-height:100px;
	margin-right:15px;
}

#header h1 {
	float:left;
	color:#fff;
	margin:0 15px;
	line-height:100px;
}

#breadcrumbs {
	background:#fff;
	height:25px;
	border-top:1px solid rgb(200,148,72);
	border-bottom:1px solid #999;
	line-height:25px;
	padding:5px 15px;
	box-shadow: 0px 0px 10px #888;

}
#breadcrumbs a,
#breadcrumbs a:visited {
	color:#006699;
	text-decoration:none;
}
#breadcrumbs a:hover {
	color:#006699;
	text-decoration:underline;
}
#breadcrumbs a.active,
#breadcrumbs a.active:hover {
	color:#000;
	text-decoration:none;
}

#content {
	padding:15px 15px;
}

div.admin_application {
	width:150px;
	background:#fff;	
	/*height:150px;*/
	float:left;
	
	text-align:center;
	border:1px solid transparent;
	border-radius:10px;
	margin: 0 10px 20px 10px;
}
div.admin_application:hover {
	background:#fff;
	border:1px solid #ccc;
	
}
.admin_application a,
.admin_application a:visited {
	display:block;

	color:#000;
	padding:10px 10px;
	text-decoration:none;
}
.admin_application img {
	width:125px;
	border:none;
	height:125px;
}

#detail_wrapper {
	background:#fff;
	width:960px;
	min-height:300px;
	border-radius:10px;
	margin:50px auto 0px auto;
}
#detail_wrapper h2
{
	
	display:block;
	line-height:50px;
	color:#333;
}
#detail_wrapper .thumb_wrapper {
	display:block;
	width:100px;
	height:100px;
	float:left;
	
	margin:-50px 10px 10px 10px;
}
#detail_wrapper h2 img {
	
	width:100px;
	

}
.data_controls {
	display:block;
	margin-top:20px;
	margin-right:10px;
	float:right;
}
.data-table th {
	position:relative;
	padding-right:20px;
}
#details {
	padding:0 10px;
}
#detail_nav_wrapper {
	float:left;
	width:225px;
	min-height:200px;
}
#detail_nav {
	padding-right:5px;
}
#detail_main_wrapper {
	width:705px;
	min-height:200px;
	float:left;

}
#detail_main {
	padding-left:5px;
}
.dataTables_length {
	float:left;
		line-height:22px;
	font-size:12px;
	margin-left:5px;
}
.dataTables_filter {
	float:right;
}
.dataTables_info {
	float:left;
	line-height:22px;
	font-size:12px;
	margin-left:5px;
}
.dataTables_paginate {
	float:right;
}
.dataTables_paginate .ui-button {
	padding:2px 5px;
	
	margin:0 5px;
}
.data-table .css_right {
	position:absolute;
	right:0;
	top:1px;
}

/*Table Layout*/
.admin-table {
	width:100%;
	border:1px solid #eee;
	border-radius:10px;
	border-collapse:collapse;
}
.admin-table thead tr{
	background:rgb(199,90,0);
	color:#fff;
	
	border-radius:10px 10px 0 0;
}
.admin-table th {
	font-weight:normal;
	text-align:left;
	padding:2px 5px;
}
.admin-table td {
	vertical-align:top;
	padding:2px 5px;
}

.info_card {
	width:400px;
	padding:0 10px;
	margin:0 auto;
	border: 1px solid #BFBAB0;
    background-color: #F2EFE9;
    background: #F2EFE9 -webkit-gradient(linear, left top, left 60%, from(#FFFFFF), to(#E9EFF2)) ;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #E9EFF2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffFFFFFF,endColorstr=#ffE9EFF2);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffFFFFFF,endColorstr=#ffE9EFF2)";
}
.right_floated{
	float:right;
}
.left_floated {
	float:left;
}
.edit_controls {
	float:right;
	clear:both;
	padding:2px;
}
.page_list
{
	border-top:1px solid #eee;
	padding-top:10px;
}
.page_row {
	clear:both;
	/*height:42px;*/
	line-height:42px;
	padding-left:5px;
}
.page_row:hover {
	background:#eee;
}
.left_guide {
	border-left:2px solid #999;
	margin-left:20px;
}
/*WYM Editor Styles*/
/*.wym_skin_default .wym_section h2 {
	display:none !important;
}*/

/*Flash Styles*/
div.flash {
	padding:10px;
}
div.flash.notice {
	background:#99ff99;
}
div.flash.warning {
	background:#FFFACD;
}
div.flash.error {
	background:#ff9999;
}
div.flash h2 {
	color:white !important;
	font-size:14px !important;
}
div.flash ul {
	color:white !important;
	font-size:12px !important;
}
