/* ...
*= require bootstrap/css/bootstrap
*= require datepicker/css/datepicker
*= require jquery-ui/css/flick/jquery-ui-1.9.1.custom
*= require codemirror
*= require_self
*/

body {
	background:#eee;
	background-color:#eee;
	margin: 0 0;
}
a {
	color:#0073EA;
	text-decoration:none;
}
.btn a:visited {
	color:none;
}
a:hover {
	text-decoration:underline;
}
a:hover .ui-button-text {
	color:#fff;
}
#header {
	height:100px;
	background:#fc862a;
	background-image: linear-gradient(top, #fc862a 5%, #f56a0e 53%);
	background-image: -o-linear-gradient(top, #fc862a 5%, #f56a0e 53%);
	background-image: -moz-linear-gradient(top, #fc862a 5%, #f56a0e 53%);
	background-image: -webkit-linear-gradient(top, #fc862a 5%, #f56a0e 53%);
	background-image: -ms-linear-gradient(top, #fc862a 5%, #f56a0e 53%);

	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.05, #fc862a),
	color-stop(0.53, #f56a0e)
	);


	color:#fff;
}
#header a,
#header a:visited {
	color:#eee;
	font-weight:normal;
}
.greeting {
	color:#fff;
}

#header #user_meta {
	float:right;
	line-height:100px;
	margin-right:15px;
}

#header h1 {
	float:left;
	color:#fff;
	margin:0 5px;

	line-height:100px;
	width:200px;
	height:100px;
	text-indent:-10000px;
	background: url('/assets/spud/admin/spud_logo.png') center left no-repeat;
	background-size:200px 90px;
}
#header h1 .site_name {
	color:#CCC;
	font-size:.7em;
}
#header #multisite_switcher
{
	margin:0 15px;
	line-height:100px;
}
#breadcrumbs {
	background:#fff;
	height:25px;
	/*border-top:1px solid rgb(200,148,72);*/
	border-bottom:1px solid #999;
	line-height:25px;
	padding:5px 15px;
	/*box-shadow: 0px 0px 10px #888;*/

}
#breadcrumbs a,
#breadcrumbs a:visited {
	color:#006699;
	text-decoration:none;
}
#breadcrumbs a:hover {
	color:#006699;
	text-decoration:underline;
}
#breadcrumbs a.active,
#breadcrumbs a.active:hover {
	color:#000;
	text-decoration:none;
}

#content {
	padding:15px 15px;
}

div.admin_application {
	width:150px;
	background:#fff;
	/*height:150px;*/
	float:left;

	text-align:center;
	border:1px solid transparent;
	border-radius:10px;
	margin: 0 10px 20px 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
div.admin_application:hover {
	background:#fff;
	border:1px solid #ccc;

}
.admin_application a,
.admin_application a:visited {
	display:block;

	color:#000;
	padding:10px 10px;
	text-decoration:none;
}
.admin_application img {
	width:125px;
	border:none;
	height:125px;
}

#detail_wrapper {
	background:#fff;
	width:960px;
	min-height:300px;
	border-radius:10px;
	margin:50px auto 0px auto;
}
#detail_wrapper h2
{

	display:block;
	line-height:50px;
	color:#333;
}
#detail_wrapper .thumb_wrapper {
	display:block;
	width:100px;
	height:100px;
	float:left;

	margin:-50px 10px 10px 10px;
}
#detail_wrapper h2 img {

	width:100px;


}
.data_controls {
	display:block;
	margin-top:20px;
	margin-right:10px;
	float:right;
}
.data-table th {
	position:relative;
	padding-right:20px;
}
#details {
	padding:0 10px;
	clear:both;
	overflow: hidden;
}
#detail_nav_wrapper {
	float:left;
	width:225px;
	min-height:200px;
}
#detail_nav {
	padding-right:5px;
}
#detail_main_wrapper {
	width:705px;
	min-height:200px;
	float:left;

}
#detail_main {
	padding-left:5px;
}
.dataTables_length {
	float:left;
		line-height:22px;
	font-size:12px;
	margin-left:5px;
}
.dataTables_filter {
	float:right;
}
.dataTables_info {
	float:left;
	line-height:22px;
	font-size:12px;
	margin-left:5px;
}
.dataTables_paginate {
	float:right;
}
.dataTables_paginate .ui-button {
	padding:2px 5px;

	margin:0 5px;
}
.data-table .css_right {
	position:absolute;
	right:0;
	top:1px;
}



div.field_with_errors {
    display:inline;
}
.formError {
    display:block;
    color:#F00;
    margin-left:100px;
}
div.field_with_errors label {
    color:#F00;
    background: url(/images/icons/error.png) top left no-repeat;
}


/*Table Layout*/
.admin-table {
	width:100%;
	border:1px solid #eee;
	border-radius:10px;
	border-collapse:collapse;
}
.admin-table thead tr{
  background:#424242;
	color:#fff;

	border-radius:10px 10px 0 0;
}
.admin-table th {
	font-weight:normal;
	text-align:left;
	padding: 5px 10px;
}
.admin-table td {
	vertical-align:top;
	padding: 5px 10px;
}
.admin-table tbody tr{
	-webkit-transition: background 0.1s ease-in;
	-moz-transition: background 0.1s ease-in;
}
.admin-table tbody tr:nth-child(even){
	background: #f1f1f1;
}
.admin-table tbody tr:hover{
	background: #FFEDDF;
}
.admin-table tbody tr:nth-child(even):hover{
	background: #FAE7D9;
}

.admin-table th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
.admin-table th a, .admin-table th a:visited {
	color:#fff;
}

.admin-table th a:hover {
	text-decoration: none;
}

.admin-table th .asc {
  background-image: url(/assets/spud/admin/up_arrow.gif);
}

.admin-table th .desc {
  background-image: url(/assets/spud/admin/down_arrow.gif);
}


.info_card {
	width:400px;
	padding:0 10px;
	margin:0 auto;
	border: 1px solid #BFBAB0;
    background-color: #F2EFE9;
    background: #F2EFE9 -webkit-gradient(linear, left top, left 60%, from(#FFFFFF), to(#E9EFF2)) ;
    background: -moz-linear-gradient(top, #FFFFFF 0%, #E9EFF2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffFFFFFF,endColorstr=#ffE9EFF2);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffFFFFFF,endColorstr=#ffE9EFF2)";
}
.right_floated{
	float:right;
}
.left_floated {
	float:left;
}
.edit_controls {
	float:right;
	clear:both;
	padding:2px;
}
.page_list
{
	border-top:1px solid #eee;
	padding-top:10px;
}
.page_row {
	clear:both;
	/*height:42px;*/
	line-height:42px;
	padding-left:5px;
}
.page_row:hover {
	background:#eee;
}
.left_guide {
	border-left:2px solid #999;
	margin-left:20px;
}
.formtab_buttons li {
	width:auto;
	clear:none;
}
.formtab label {
	float:none;
	margin:0;
}
.formtab {
	width:910px;
	padding: 0 0 !important;
	overflow-y:visible;
}
.formtab textarea {
	width:910px;

	margin: 0 0;
	height:200px;
}
form h2 {
	line-height:20px !important;
	height:20px;
}

/*Flash Styles*/
div.flash {
	padding:10px;
}
div.flash.notice {
	background:#99ff99;
}
div.flash.warning {
	background:#FFFACD;
}
div.flash.error {
	background:#ff9999;
}
div.flash h2 {
	color:white !important;
	font-size:14px !important;
}
div.flash ul {
	color:white !important;
	font-size:12px !important;
}
form input.full-width {
	display: block;
	width: 99%;
}
/* Pagination
--------------- */
.spud_admin_pagination{
	margin: 10px 0;
	overflow: hidden;
}
.spud_admin_pagination .pagination{
	float: right;
}

#dashboard-editmode {
	clear:both;
	background:#ccc;
	padding:10px;
	text-align:center;
	display:none;
}
/*Jiggle Animation*/
.jiggly {
    -webkit-animation: jiggle 0.2s infinite;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: infinite;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
}

.time_select select {
	width:auto;
}

@-moz-keyframes jiggle {
    0% {
        -moz-transform: rotate(-1deg);
    }
    50% {
        -moz-transform: rotate(1deg);
    }
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-1deg);
    }
    50% {
        -webkit-transform: rotate(1deg);
    }
}


/*Retina CSS*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (-o-min-device-pixel-ratio: 3/2),
	only screen and (min--moz-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5) {
		#header h1 {
			background: url('/assets/spud/admin/spud_logo@2x.png') top left no-repeat;
			background-size:200px 90px;

		}
		.replace-2x {
			font-size: 1px;
		}
}

.footer {
	clear:both;
	margin-top:10px;
	position:absolute;
	text-align:right;
	font-size:.8em;
	right:10px;
	height:10px;
	bottom:10px;
}

/* Modal Dialogs
---------------*/
#modal_window .form-actions-no-modal{
	display: none;
}
