<plugin name='spud-core' version='0.1-SNAPSHOT' grailsVersion='2.3 &gt; *'>
  <author>David Estes</author>
  <authorEmail>destes@bcap.com</authorEmail>
  <title>Spud Core Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/spud-core</documentation>
  <type>SpudCoreGrailsPlugin</type>
  <resources>
    <resource>SpudCoreUrlMappings</resource>
    <resource>spud.core.SecurityFilters</resource>
    <resource>spud.core.admin.DashboardController</resource>
    <resource>spud.core.AbstractSpudSecurityService</resource>
    <resource>spud.core.AdminApplicationService</resource>
    <resource>spud.core.DefaultSpudRendererService</resource>
    <resource>spud.core.DefaultSpudTemplateService</resource>
    <resource>spud.core.SpudTemplateService</resource>
    <resource>spud.core.SpudCoreTagLib</resource>
  </resources>
</plugin>